@import "tailwindcss";

:root {
  --primary: #e91e8c;
}

body {
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
